<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <h1>Home Page</h1>
        <a href="/register">Register</a>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>