.home{
    color:rgb(14, 1, 1)
    
  }
  .card-content {
      
      transition: all 1s;
      position:absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    
    .card-back{
      transform:rotateY(180deg);
      transition:  0.6s;
  transform-style: preserve-3d;
    }
    
    .card:hover .card-front {
      transform: rotateY(-180deg);
    }
    
    .card:hover .card-back {
      transform: rotateY(0);
    }
  
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
   body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
    background-image: linear-gradient(to bottom,#0e7490,#092b36);
    background-repeat: no-repeat;
    background-size: 100% 200%;
   }
  nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 60px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 5;
    opacity: 1;
  }
  nav.black{
    background: rgba(0,0,0,.8);
    height: 80px;
    padding: 10px 50px;
  }
  nav .logo{
    float: left;
  }
  nav .logo img{
    height: 80px;
    transition: .5s;
  }
  nav.black .logo img{
    height: 60px;
  }
  nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li{
    list-style: none;
    margin-top: 25px;
    line-height: none;
    font-size: 18px;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0 0 10px #000;
  }
  /* nav ul li a{
    line-height: none;
    font-size: 18px;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0 0 10px #000;
  } */
  
  /* nav.black ul li a{
    color: #fff;
    line-height: 20px;
  } */
  nav.black ul li{
    color: #fff;
    line-height: 20px;
  }
  /* nav ul li a.active,
  nav ul li a:hover{
    color: orange;
  } */
  nav ul li.active,
  nav ul li:hover{
    color: orange;
  }
  
  .parallax1 {
    background: url("https://wallpapercave.com/wp/wp6638441.png");
    min-height: 100%;
  }
  .parallax2 {
    background: url("https://www.upr.org/sites/upr/files/styles/medium/public/201804/0_12.jpg");
    min-height: 100%;
  }
  .parallax3 {
    background: url("https://edsurge.imgix.net/uploads/post/image/10700/learning-1516906162.jpg?auto=compress%2Cformat&w=3000&h=1215&fit=crop");
    min-height: 80%;
  }
  .parallax4 {
    background: url("http://thumbs.dreamstime.com/z/modern-flat-education-icons-hexagons-set-educational-different-subjects-concepts-multicolored-long-shadows-36766385.jpg");
    min-height: 70%;
  }
  .parallax5 {
    background: url("http://www.babysitting.academy/wp-content/uploads/2015/01/kids-hands-holding-plants-yolo-farm-to-fork-1030x686.jpg");
    min-height: 100%;
  }
  /* .parallax6 {
    background: url("https://quotefancy.com/media/wallpaper/3840x2160/2016858-Confucius-Quote-Knowledge-without-practice-is-useless-Practice.jpg");
    min-height: 100%;
  } */
  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    background-attachment: fixed;
  }
  .heading {
    position: absolute;
    color: #fff;
    font-size: 550%;
    top: 38%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
  }
  .heading2 {
    position: absolute;
    color: #fff;
    font-size: 150%;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
  }
  .heading-sm {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 2px #000;
  }
  .two-col{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: center;
  }
  section {
    overflow: auto;
    padding: 50px 80px;
  }
  .dark{
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
  }
  @media (max-width: 900px){
    nav ul li{
      font-size: 12px;
    }
    .heading{
      font-size: 250%;
    }
  }
  @media (max-width: 600px){
    .heading{
      font-size: 250%;
    }
    .heading-sm{
      font-size: 180%
    }
    .two-col {
      width: 100%;
      padding: 0;
      text-align: center;
    }
    nav ul li{
      font-size: 8px;
    }
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  
  .dark{
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
  }
  
  
  
  
  
  
  
  
  .text {
      z-index: 1;
      color: rgb(255, 255, 255);
      font-family: "Roboto Mono", monospace;
      font-size: 100px;
      font-weight: 200;
      display: flex;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 5px;
      -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  }
  
  .text span:nth-child(1) {
      color: #4285F4;
      animation: animText 1s ease-in-out infinite;
  }
  
  .text span:nth-child(2) {
      color: #EA4335;
      animation: animText 1s ease-in-out infinite;
      animation-delay: 0.8s;
  }
  
  .text span:nth-child(3) {
      color: #FBBC05;
      animation: animText 1s ease-in-out infinite;
      animation-delay: 1.2s;
  }
  
  .text span:nth-child(4) {
      color: #34A853;
      animation: animText 1s ease-in-out infinite;
      animation-delay: 1.6s;
  }
  
  @keyframes animText {
      0% {
          font-weight: 200;
      }
  
      50% {
          font-weight: 900;
      }
  
      100% {
          font-weight: 200;
      }
  }
  
  .text span:nth-child(5) {
      color: #4285F4;
      font-weight: 900;
      animation: animMark 1s ease-in-out infinite;
  }
  
  @keyframes animMark {
      0% {
          transform: rotate(30deg);
      }
  
      50% {
          transform: rotate(0deg);
      }
  
      100% {
          transform: rotate(30deg);
      }
  }
  
  
  
  
  .stars-01 {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      box-shadow: 100px 200px #FFEB3B, 200px 250px #FF9800, 200px 500px #00BCD4, 300px 300px #009688,
          550px 150px #00BCD4, 550px 300px #2196F3, 350px 500px #FFF, 1750px 150px #00BCD4,
          1000px 400px #673AB7, 650px 450px #03A9F4, 1200px 50px #FF5722, 1100px 450px #673AB7,
          950px 50px #00BCD4, 1100px 500px #03A9F4, 850px 400px #FF9800, 850px 300px #F44336,
          1200px 100px #FF9800, 900px 300px #CDDC39, 1150px 400px #F44336, 1650px 900px #00BCD4,
          650px 600px #FF5722, 350px 600px #009688, 600px 650px #E91E63, 150px 750px #00BCD4,
          1750px 450px #FF5722, 250px 800px #00BCD4, 1800px 1150px #FF9800, 450px 1450px #FF5722,
          1150px 800px #00BCD4, 100px 700px #3F51B5, 350px 650px #FFEB3B, 250px 600px #FF5722,
          1850px 700px #CDDC39, 1650px 600px #FFEB3B, 450px 1050px #673AB7, 1550px 500px #F44336,
          150px 1400px #8BC34A, 800px 800px #9C27B0, 1250px 1950px #9C27B0, 100px 1700px #8BC34A,
          1150px 1350px #E91E63, 1700px 50px #FFF, 1750px 500px #F44336, 300px 1100px #CDDC39,
          350px 1650px #009688, 1700px 1200px #F44336, 450px 800px #FF5722, 2000px 500px #8BC34A,
          350px 1600px #F44336, 1350px 1350px #673AB7, 1100px 1750px #3F51B5, 150px 950px #FFEB3B,
          1600px 1700px #2196F3, 400px 1000px #FF9800, 650px 1050px #4CAF50, 2000px 1650px #00BCD4,
          1100px 700px #9C27B0, 1350px 600px #F44336, 600px 1900px #CDDC39, 1500px 600px #9E9E9E,
          20px 1350px #8BC34A, 850px 1800px #E91E63, 450px 1150px #2196F3, 50px 700px #FF5722,
          100px 1400px #F44336, 1000px 1700px #9C27B0, 250px 600px #FF5722, 1200px 850px #CDDC39,
          1750px 20px #673AB7, 100px 1550px #FFEB3B, 1200px 1650px #3F51B5, 1500px 700px #2196F3,
          1800px 600px #03A9F4, 650px 800px #00BCD4, 700px 600px #00BCD4, 1100px 1350px #F44336,
          900px 550px #FF5722, 1600px 800px #2196F3, 1000px 1100px #F44336, 1650px 1350px #FF5722,
          750px 1050px #FFC107, 1750px 800px #CDDC39, 600px 1650px #F44336, 150px 1550px #673AB7,
          250px 1800px #FFF, 1100px 1700px #FFC107, 800px 1500px #3F51B5, 1100px 1200px #FF5722,
          1450px 1600px #CDDC39, 150px 1400px #FFF, 1200px 1450px #03A9F4, 1800px 1050px #FFF,
          1250px 1300px #CDDC39, 1000px 1000px #4CAF50, 300px 700px #4CAF50, 100px 1250px #9C27B0,
          700px 1750px #00BCD4, 1950px 250px #FFF, 1550px 700px #F44336;
      animation: starsUp 10s linear infinite;
  }
  
  .stars-02 {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      box-shadow: 100px 200px #FFEB3B, 200px 250px #FF9800, 200px 500px #00BCD4, 300px 300px #009688,
          550px 150px #00BCD4, 550px 300px #2196F3, 350px 500px #FFF, 1750px 150px #00BCD4,
          1000px 400px #673AB7, 650px 450px #03A9F4, 1200px 50px #FF5722, 1100px 450px #673AB7,
          950px 50px #00BCD4, 1100px 500px #03A9F4, 850px 400px #FF9800, 850px 300px #F44336,
          1200px 100px #FF9800, 900px 300px #CDDC39, 1150px 400px #F44336, 1650px 900px #00BCD4,
          650px 600px #FF5722, 350px 600px #009688, 600px 650px #E91E63, 150px 750px #00BCD4,
          1750px 450px #FF5722, 250px 800px #00BCD4, 1800px 1150px #FF9800, 450px 1450px #FF5722,
          1150px 800px #00BCD4, 100px 700px #3F51B5, 350px 650px #FFEB3B, 250px 600px #FF5722,
          1850px 700px #CDDC39, 1650px 600px #FFEB3B, 450px 1050px #673AB7, 1550px 500px #F44336,
          150px 1400px #8BC34A, 800px 800px #9C27B0, 1250px 1950px #9C27B0, 100px 1700px #8BC34A,
          1150px 1350px #E91E63, 1700px 50px #FFF, 1750px 500px #F44336, 300px 1100px #CDDC39,
          350px 1650px #009688, 1700px 1200px #F44336, 450px 800px #FF5722, 2000px 500px #8BC34A,
          350px 1600px #F44336, 1350px 1350px #673AB7, 1100px 1750px #3F51B5, 150px 950px #FFEB3B,
          1600px 1700px #2196F3, 400px 1000px #FF9800, 650px 1050px #4CAF50, 2000px 1650px #00BCD4,
          1100px 700px #9C27B0, 1350px 600px #F44336, 600px 1900px #CDDC39, 1500px 600px #9E9E9E,
          20px 1350px #8BC34A, 850px 1800px #E91E63, 450px 1150px #2196F3, 50px 700px #FF5722,
          100px 1400px #F44336, 1000px 1700px #9C27B0, 250px 600px #FF5722, 1200px 850px #CDDC39,
          1750px 20px #673AB7, 100px 1550px #FFEB3B, 1200px 1650px #3F51B5, 1500px 700px #2196F3,
          1800px 600px #03A9F4, 650px 800px #00BCD4, 700px 600px #00BCD4, 1100px 1350px #F44336,
          900px 550px #FF5722, 1600px 800px #2196F3, 1000px 1100px #F44336, 1650px 1350px #FF5722,
          750px 1050px #FFC107, 1750px 800px #CDDC39, 600px 1650px #F44336, 150px 1550px #673AB7,
          250px 1800px #FFF, 1100px 1700px #FFC107, 800px 1500px #3F51B5, 1100px 1200px #FF5722,
          1450px 1600px #CDDC39, 150px 1400px #FFF, 1200px 1450px #03A9F4, 1800px 1050px #FFF,
          1250px 1300px #CDDC39, 1000px 1000px #4CAF50, 300px 700px #4CAF50, 100px 1250px #9C27B0,
          700px 1750px #00BCD4, 1950px 250px #FFF, 1550px 700px #F44336;
      animation: starsUp 30s linear infinite;
  }
  
  .stars-03 {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      box-shadow: 100px 200px #FFEB3B, 200px 250px #FF9800, 200px 500px #00BCD4, 300px 300px #009688,
          550px 150px #00BCD4, 550px 300px #2196F3, 350px 500px #FFF, 1750px 150px #00BCD4,
          1000px 400px #673AB7, 650px 450px #03A9F4, 1200px 50px #FF5722, 1100px 450px #673AB7,
          950px 50px #00BCD4, 1100px 500px #03A9F4, 850px 400px #FF9800, 850px 300px #F44336,
          1200px 100px #FF9800, 900px 300px #CDDC39, 1150px 400px #F44336, 1650px 900px #00BCD4,
          650px 600px #FF5722, 350px 600px #009688, 600px 650px #E91E63, 150px 750px #00BCD4,
          1750px 450px #FF5722, 250px 800px #00BCD4, 1800px 1150px #FF9800, 450px 1450px #FF5722,
          1150px 800px #00BCD4, 100px 700px #3F51B5, 350px 650px #FFEB3B, 250px 600px #FF5722,
          1850px 700px #CDDC39, 1650px 600px #FFEB3B, 450px 1050px #673AB7, 1550px 500px #F44336,
          150px 1400px #8BC34A, 800px 800px #9C27B0, 1250px 1950px #9C27B0, 100px 1700px #8BC34A,
          1150px 1350px #E91E63, 1700px 50px #FFF, 1750px 500px #F44336, 300px 1100px #CDDC39,
          350px 1650px #009688, 1700px 1200px #F44336, 450px 800px #FF5722, 2000px 500px #8BC34A,
          350px 1600px #F44336, 1350px 1350px #673AB7, 1100px 1750px #3F51B5, 150px 950px #FFEB3B,
          1600px 1700px #2196F3, 400px 1000px #FF9800, 650px 1050px #4CAF50, 2000px 1650px #00BCD4,
          1100px 700px #9C27B0, 1350px 600px #F44336, 600px 1900px #CDDC39, 1500px 600px #9E9E9E,
          20px 1350px #8BC34A, 850px 1800px #E91E63, 450px 1150px #2196F3, 50px 700px #FF5722,
          100px 1400px #F44336, 1000px 1700px #9C27B0, 250px 600px #FF5722, 1200px 850px #CDDC39,
          1750px 20px #673AB7, 100px 1550px #FFEB3B, 1200px 1650px #3F51B5, 1500px 700px #2196F3,
          1800px 600px #03A9F4, 650px 800px #00BCD4, 700px 600px #00BCD4, 1100px 1350px #F44336,
          900px 550px #FF5722, 1600px 800px #2196F3, 1000px 1100px #F44336, 1650px 1350px #FF5722,
          750px 1050px #FFC107, 1750px 800px #CDDC39, 600px 1650px #F44336, 150px 1550px #673AB7,
          250px 1800px #FFF, 1100px 1700px #FFC107, 800px 1500px #3F51B5, 1100px 1200px #FF5722,
          1450px 1600px #CDDC39, 150px 1400px #FFF, 1200px 1450px #03A9F4, 1800px 1050px #FFF,
          1250px 1300px #CDDC39, 1000px 1000px #4CAF50, 300px 700px #4CAF50, 100px 1250px #9C27B0,
          700px 1750px #00BCD4, 1950px 250px #FFF, 1550px 700px #F44336;
      animation: starsUp 50s linear infinite;
  }
  
  .stars-04 {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      box-shadow: 100px 200px #FFEB3B, 200px 250px #FF9800, 200px 500px #00BCD4, 300px 300px #009688,
          550px 150px #00BCD4, 550px 300px #2196F3, 350px 500px #FFF, 1750px 150px #00BCD4,
          1000px 400px #673AB7, 650px 450px #03A9F4, 1200px 50px #FF5722, 1100px 450px #673AB7,
          950px 50px #00BCD4, 1100px 500px #03A9F4, 850px 400px #FF9800, 850px 300px #F44336,
          1200px 100px #FF9800, 900px 300px #CDDC39, 1150px 400px #F44336, 1650px 900px #00BCD4,
          650px 600px #FF5722, 350px 600px #009688, 600px 650px #E91E63, 150px 750px #00BCD4,
          1750px 450px #FF5722, 250px 800px #00BCD4, 1800px 1150px #FF9800, 450px 1450px #FF5722,
          1150px 800px #00BCD4, 100px 700px #3F51B5, 350px 650px #FFEB3B, 250px 600px #FF5722,
          1850px 700px #CDDC39, 1650px 600px #FFEB3B, 450px 1050px #673AB7, 1550px 500px #F44336,
          150px 1400px #8BC34A, 800px 800px #9C27B0, 1250px 1950px #9C27B0, 100px 1700px #8BC34A,
          1150px 1350px #E91E63, 1700px 50px #FFF, 1750px 500px #F44336, 300px 1100px #CDDC39,
          350px 1650px #009688, 1700px 1200px #F44336, 450px 800px #FF5722, 2000px 500px #8BC34A,
          350px 1600px #F44336, 1350px 1350px #673AB7, 1100px 1750px #3F51B5, 150px 950px #FFEB3B,
          1600px 1700px #2196F3, 400px 1000px #FF9800, 650px 1050px #4CAF50, 2000px 1650px #00BCD4,
          1100px 700px #9C27B0, 1350px 600px #F44336, 600px 1900px #CDDC39, 1500px 600px #9E9E9E,
          20px 1350px #8BC34A, 850px 1800px #E91E63, 450px 1150px #2196F3, 50px 700px #FF5722,
          100px 1400px #F44336, 1000px 1700px #9C27B0, 250px 600px #FF5722, 1200px 850px #CDDC39,
          1750px 20px #673AB7, 100px 1550px #FFEB3B, 1200px 1650px #3F51B5, 1500px 700px #2196F3,
          1800px 600px #03A9F4, 650px 800px #00BCD4, 700px 600px #00BCD4, 1100px 1350px #F44336,
          900px 550px #FF5722, 1600px 800px #2196F3, 1000px 1100px #F44336, 1650px 1350px #FF5722,
          750px 1050px #FFC107, 1750px 800px #CDDC39, 600px 1650px #F44336, 150px 1550px #673AB7,
          250px 1800px #FFF, 1100px 1700px #FFC107, 800px 1500px #3F51B5, 1100px 1200px #FF5722,
          1450px 1600px #CDDC39, 150px 1400px #FFF, 1200px 1450px #03A9F4, 1800px 1050px #FFF,
          1250px 1300px #CDDC39, 1000px 1000px #4CAF50, 300px 700px #4CAF50, 100px 1250px #9C27B0,
          700px 1750px #00BCD4, 1950px 250px #FFF, 1550px 700px #F44336;
      animation: starsUp 100s linear infinite;
  }
  
  @keyframes starsUp {
      0% {
          transform: translateY(500px);
      }
  
      100% {
          transform: translateY(-2000px);
      }
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 4px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }
  
  /* .white-mode {
      text-decoration: none;
      padding: 17px 40px;
      background-color: yellow;
      border-radius: 3px;
      color: black;
      transition: .35s ease-in-out;
      position: absolute;
      left: 15px;
      bottom: 15px
  } */
 